/* Universal selector -> Makes the whole website look better with no white margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* First section, containing the header, main title and placeholder image */

.upper {
  background-color: #1f2937;
  color: white;
  padding: 15px 250px;
}

#signup1 {
  color: white;
  background-color: #3b82f6;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

#header {
  display: flex;
}

.links {
  display: flex;
  margin-left: auto;
  justify-content: space-evenly;
  gap: 30px;
}

.main {
  display: flex;
  padding: 150px 100px;
}

.main-left {
  margin-right: auto;
  height: 30px;
  width: 350px;
}

#img {
  background-color: grey;
}

/* Second section, containing the boxes and texts */

.info {
  text-align: center;
  padding: 30px 250px;
}

.boxes-line {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  gap: 50px;
}

.box1 {
  border-radius: 15px;
  border: 5px solid #3b82f6;
  height: 150px;
  width: 150px;
}

.box2 {
  border-radius: 15px;
  border: 5px solid #3b82f6;
  height: 150px;
  width: 150px;
}

.box3 {
  border-radius: 15px;
  border: 5px solid #3b82f6;
  height: 150px;
  width: 150px;
}

.box4 {
  border-radius: 15px;
  border: 5px solid #3b82f6;
  height: 150px;
  width: 150px;
}

.texts {
  height: 150px;
  width: 150px;
  margin-top: 5px;
}

/* Third section, containing the quote */

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.quotebox {
  width: 800px;
  font-size: 35px;
}

#namedquote {
  margin-left: 500px;
  font-size: 25px;
}

/* Fourth section, containing the Sign up form */

.signup {
  background-color: #3b82f6;
  margin: 100px 300px;
  color: white;
  border-radius: 10px;
  display: flex;
  gap: 300px;
  justify-content: center;
  padding: 60px;
}

/* Footer section */

footer {
  display: flex;
  height: 150px;
  background-color: #1f2937;
  color: white;
  align-items: center;
  justify-content: center;
}

#signup2 {
  color: white;
  background-color: #3b82f6;
  padding: 10px 35px;
  border-radius: 10px;
  border: white 2px solid;
  font-size: 15px;
  font-weight: 600;
}
